body{
    font-family: "Inter", sans-serif;
    margin: 0;

}
/* header part style */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.848),rgba(62, 62, 62, 0)),url('./resources/Banner\ Image.png');
    
    background-repeat: no-repeat;
    height: 600px;
    margin: 0px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    color: white;
    
   }
   .banner-title{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  
   }
   .banner-party{
    font-weight: bold;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.banner-celebration{
    font-weight: bold;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
/* categories part style */
.catergories{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.off{
    font-size: 70px;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
    margin-bottom: 0;
}
.deals{
    font-size: 20px;
    color: #FF0000;
    font-weight: 450;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;

}
.all-categerories{
    font-size: 45px;
    text-align: center;
    margin-top: 5px;
}

.catergories-image img{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* welcome banner style */
.welcome-banner{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.84),rgba(34, 33, 33, 0.355)), url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome-description{
    color: white;
    padding-left:70px ;
    width: 50%;
}
.welcome-title{
    font-weight: bold;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;  
}
.welcome-msg{
    font-weight: 400;
    font-size: 13px;
}
.welcome-btn{
   background-color: rgba(240, 248, 255, 0);
   
   
   border: none;
}
.welcome-btn a{
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}
.welcome-image{
    padding-right: 150px;
}
.welcome-image img{
    width: 300px;
}
/* joining part style */
.joining-part{
    background-image: linear-gradient(#fb82824e,#f2e8e8cd);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    padding: 50px 0px;
    border-radius: 5px;
}

.black{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
}
.orange{
    color: #FF0000;
}
.joining-btn-div{
    margin-left: 45%;
    margin-right: 45%;
    
}
.joining-btn{
    color: white;
    background-color: #FF0000 ;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
}
/* offer part style */
.new-year-offers{
    margin: 100px 100px 0px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.new-year-offer-one{
    width:43% ;
    padding-right: 70px;
    
}
.new-year-offer-one > h2{
    font-size: 30px;
}
.new-year-offer-two{
    width:43% ;
    padding-left: 70px;
}
.new-year-offer-two>h2{
    font-size: 30px;
}
.new-year-offer-img img{
    width: 350px;
    padding: 25px;
    border:15px solid #FF0000;
    border-radius: 50%;
}
/* portfolio part style */
.portfolio{
    margin: 100px 100px 0px 100px;

}

.portfolio-para{
   width: 60%; 

}
.portfolio-title{
    font-size: 30px;
}
.portfolio-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.portfolio-image img{
    width: 400px;

}
.portfolio-image{
    margin: 15px 10px;
    transition: 0.2s ease;
}
.portfolio-image:hover{
    border: 10px solid rgb(157, 53, 16);
    transition: 0.2s ease;
    border-radius: 25px;
   
}
/* subscribe part style */
.subscribe{
    margin: 100px ;
    background-color: #fee9e9e0;
    text-align: center;
    padding: 50px 0;
}
.subscribe-title{
    font-size: 30px;
    margin-bottom: 0;
}
.subscribe-para{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.subscribe-input{
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    border-radius:25px 0 0 25px ;
    border: 0;
    margin-right: 0;
}
.subscribe-btn{
    height: 36px;
    width: 110px;
    background-color: #FF0000;
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-left: 0;
    border-radius: 0 25px 25px 0;
    border: 0;
}
/* footer style */
footer{
    background-color: #070211;
}
.footer-contact{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    color: white;
    
    font-size: 12px;
}
.contact img {
    height: 16px;
}
.social-media-icon {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-media-icon img{
    height: 30px;
}
.copyright{
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
}
.unsubscribe-btn{
    color: white;
    background-color: #07021100;
    border: none;
}
